@font-face {
    font-family: "CalSans";
    src: url("./assets/CalSans-SemiBold.ttf");
}

@keyframes notification {
    0% {
        opacity: 0;
        left: 100%;
    }
    15% {
        opacity: 1;
        left: 30px;
    }
    85% {
        opacity: 1;
        left: 30px;
    }
    100% {
        opacity: 0;
        left: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "CalSans";
}

body {
    overflow: hidden;
}

.fullsize {
    width: 100vw;
    height: 100vh;
}

.centeritems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbleinput, .giveawaytile {
    width: 50px;
    height: 50px;
    background: white;
    box-shadow: 0 0 20px 5px rgb(103 103 103 / 25%);
    border-radius: 5px;
    border: none;
    transition: 0.25s;
}

.row, .giveawayrow {
    margin-bottom: 10px;
}

.numbleinput:not(:last-child), .giveawaytile:not(:last-child) {
    margin-right: 7px;
}

.keyboardgrid {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(2, 30px);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
}

.key, .enter {
    width: 40px;
    height: 30px;
    border-radius: 5px;
    font-size: 10px;
    transition: 0.5s;
    background: rgb(227, 227, 227);
    box-shadow: 0 0 20px 5px rgba(195, 195, 195, 0.439);
}

.key.active, .key.delete, .enter {
    cursor: pointer;
    pointer-events: auto;
}

.inactive {
    pointer-events: none;
    opacity: 0.5;
}

.nodisplay {
    opacity: 0;
    pointer-events: none;
}

.giveawaytile {
    height: 20px !important;
}

.enter {
    grid-area: 1 / 9 / 3 / 10;
    height: 67px !important;
    background: rgb(154, 201, 254) !important;
    box-shadow: 0 0 20px 5px rgba(105, 180, 203, 0.439) !important;
}

.correct {
    background:rgb(119, 219, 141) !important;
    box-shadow: 0 0 20px 5px rgba(105, 203, 107, 0.439) !important;
}

.close {
    background:rgb(229, 233, 114) !important;
    box-shadow: 0 0 20px 5px rgba(143, 143, 135, 0.439) !important;
}

.wrong {
    background:rgb(108, 108, 108) !important;
    box-shadow: 0 0 20px 5px rgba(184, 184, 184, 0.439) !important;
}

#notificationbox {
    width: 270px;
    height: 110px;
    position: absolute;
    top: 10px;
    right: 0;
    overflow: hidden;
    padding: 10px;
}

.notification {
    width: 200px;
    height: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgb(103 103 103 / 25%);
    overflow: hidden;
    animation: 5s notification both;
    position: absolute;
    top: 30px;
}

.notification:after {
    bottom: 0;
    left: 0;
    content: "";
    padding-right: 10px;
    padding-top: 50px;
    position: absolute;
    background: rgb(237, 80, 80);
    border-radius: 5px 0 0 5px;
}

.giveawayrow {
    display: none !important;
}

#finallightbox {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
    background: white;
    box-shadow: 0 0 20px 5px rgba(195, 195, 195, 0.439);
    border-radius: 10px;
    height: 50%;
    width: 70%;
    transition: 0.5s;
}

#finallightbox.showing {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

#lightboxcont {
    pointer-events: none;
}

#lightboxcont.showing {
    pointer-events: auto;
}

#closelightbox {
    top: 15px;
    right: 15px;
    position: absolute;
    border: none;
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    line-height: 9px;
    border-radius: 5px;
    cursor: pointer;
}

#header {
    position: absolute;
    top: 20px;
    left: 20px;
}

#header h1, #header h3 {
    text-align: left;
}

#header > * {
    text-shadow: 0px 0px 40px #00000045;
}

input[type="checkbox"] {
    border: none;
    outline: none;
    background: white;
    box-shadow: 0 0 20px 5px rgba(195, 195, 195, 0.439);
}

#stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 0px;
}

.preload * {
    transition: none !important;
}

.stats {
    grid-area: 1 / 1 / 3 / 2;
    height: 67px !important;
    background: rgb(237, 248, 191) !important;
    box-shadow: 0 0 20px 5px rgba(203, 198, 105, 0.439) !important;
    cursor: pointer;
}